section.form-container {
  border-radius: 1em;
  border: 1px solid var(--color-border);
  padding: 2em;
  
  margin: 0 auto;
  margin-top: 5em;
  max-width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}


input:invalid:not(:focus):not(:placeholder-shown) {
  border: solid 1px red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

form label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  /* height: 2em; */
  padding: .75em;
  font-size: 1em;
}

input[type='range'] {
  width: 100%;
}



label.input-group {
  display: flex;
  flex-direction: column;
}

.form-container.end {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}


button {
  width: auto;
  padding: .75em;
  font-size: 1em;
}

.redirect {
  text-align: center;
}




ul.form-steps {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-block-start: 0em;
  appearance: none;
  display: flex;
  justify-content: space-between;
}


ul.form-steps li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 1em;
  border-radius: 100%;
  /* border: 1px solid red; */
  width: 1em;
  height: 1em;
}
ul.form-steps li {
  border: 2px solid var(--color-succes);
  background-color: var(--color-succes);

}
ul.form-steps li a { 
color: var(--color-text-invert);
}
ul.form-steps li.active {

  color: var(--color-text-invert);
  border: 2px solid var(--color-text-primary);
  background-color: var(--color-background-theme);
}

ul.form-steps li.active ~ li {
  /* Styles for li items after the li with class "active" */
  /* font-size: 1.4em; */
  color: var(--color-text);
  background-color: var(--color-background-soft);
  border: 2px solid var(--color-background-soft);
}
ul.form-steps li.active ~ li a {
  color: var(--color-text);

}
ul.form-steps li.active +  li {
  color: var(--color-text-invert);
  font-weight: bold;
  color: var(--color-text-invert);
  background-color: var(--color-background-mute);
  border: 2px solid var(--color-background-mute);
  /* border: 1px solid green; */
  /* Styles for the first li item immediately following the li with class "active" */
}

ul.form-steps li.active +  li a {
  color: var(--color-text);
}

a:disabled {
  color: gray;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}