{% extends  'base.njk' %}
{% block  content %}
<section class="form-container">
    <h1>Welcome</h1>
    <p>{{ user.name }}</p>
    {# <p>{{{session}}}</p> #}
  <div class="progress">


  </div>
    <form action="/course/start" method="POST" enctype="multipart/form-data">
    <ul class="form-steps">
<li><a href=/course/start>0</a></li>
        {% for class in classes %}
          {% if class.name == currentClass.name %}
            <li class='active'>{{ class.id }}</li>
          {% elif class.id > currentClass.id %}
      <li><a disabled href=/course/{{class.slug}}>{{ class.id }}</a></li>
          {% else %}
            <li><a href=/course/{{class.slug}}>{{ class.id }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h2>Choose the classes u followed in 2023</h2>
      {% for class in classes %}
        {% set checked = false %}
        {% for obj in user.classes %}
          {% if obj.name == class.slug %}
            {% set checked = true %}
          {% endif %}
        {% endfor %}
        {% if checked %}
          <div>
            <input type="checkbox" name="classes" value="{{ class.slug }}" id="{{class.slug}}" checked>
              <label for='{{ class.slug }}'>
                {{ class.name }}
              </label>
            </div>
          {% else %}
            <div>
              <input type="checkbox" name="classes" value="{{ class.slug }}" id="{{class.slug}}">
                <label for='{{ class.slug }}'>
                  {{ class.name }}
                </label>
              </div>
            {% endif %}
          {% endfor %}
          <button type="submit">Save Selection</button>
          {% if user.classes[0] %}
          <a href="/course/css-to-the-rescue">Next</a>  
          {% endif %}
        </form>
      </section>
    {% endblock %}