<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
    <a href="/"><img src='/logoWD.png' alt=''></a>
    {% if user %}
    <a href="/course">course</a>      
    {% else %}
    <a href="/register">Register</a>
    <a href="/login">login</a>  
    {% endif %}
    {% if user %}
    <form action='/logout' method="POST"><button type='submit'>Logout</button></form>  
    {% endif %}
    </header>
    <main>
    {% block content %} {% endblock %}
    </main>    
  </body>
    <script type="module" crossorigin="anonymous" src="/@vite/client"></script>
    <script crossorigin="anonymous" type="module" src="/src/main.js"></script>
</html>
