<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/base.css'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='/form.css'>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class='header-start'> 
    <a href="/"><img src='/DWLogo.png' alt='Logo'></a>
    </div>
    <div class='header-end'>
    {% if user %}
    <a href="/course">course</a>      
    {% else %}
    <a href="/register">Start Survey</a>
    <a href="/login">Continue</a>  
    {% endif %}
    {% if user %}
    <a href='/logout'>logout</a>
    {# <form action='/logout' method="POST"><button type='submit'>Logout</button></form>   #}
    {% endif %}
    </div>
    </header>
    <main>
    {% block content %} {% endblock %}
    </main>    
  </body>
    <script type="module" crossorigin="anonymous" src="http://localhost:5173/@vite/client"></script>
    <script crossorigin="anonymous" type="module" src="http://localhost:5173/src/main.js"></script>
</html>
