{% extends  layout %}
{% block  content %}
  
  <form action='/login' method="POST" enctype="multipart/form-data">
    <input type='text' name='name' value={{user.name}}>
    <input type='email' name='username' id='email'>
    <input type='number' name='student-id' id='id'>
  <button type='submit'>Start Survey</button>
  </form>
 {{ user.name }}
  
  
{% endblock %}
