{% extends  'base.njk' %}
{% block  content %}
  <h1>login</h1>
  
  {% if error %}
  {{error}}
{% endif %}

{{user}}
<form action='/login' method="POST" enctype="multipart/form-data">
    <label for='email'>Email</label>
    <input type='email' name='username' id='username' required autocomplete='email'>
  <button type='submit'>login</button>
  </form>
 {{ user.name }}
  
  
{% endblock %}
