{% extends  'base.njk' %}
{% block  content %}
  <section class="form-container">
    <h3>Let us know how you managed minor WebDev</h3>
    <form action='/register' method="POST" enctype="multipart/form-data">
      {% if error %}
        {{ error }}
      {% endif %}
  {% if message %}
        {{ message }}
      {% endif %}

      <label class="input-group" for='name'>
        <span>Name</span>
        <input type='text' name='name' id='name' placeholder='Your Name'>
          {{ user.name }}
        </label>
        <label class="input-group" for='email'>
          <span> Email {{ user.email }} </span>
          <input type='email' name='username' id='email' placeholder="your.email@hva.nl">
          
          </label>
          <label class="input-group" for='id'>
            Student ID nr {{ user.id }}
            <input type='number' name='id' id='id' placeholder='01234456'></label>
            <button type='submit'>Start Survey</button>
          </form>
          <div class='redirect'>
            <p>Already started the survey?</p>
            <a href='/login'>
              <small>continue here</small>
            </a>
          </div>
        </section>
      {% endblock %}