{% extends 'base.njk' %} {% block content %}
<h1>{{ currentPage }}</h1>
  <p>{{ req.params.id }}</p>
  <p>{{ message }}</p>
   {% if user %}
   <p>{{ user.name }}</p>
  {% endif %}
  {#
  <p>{{{session}}}</p>
  #}

<form action="/course/survey/{{currentPage}}" method="POST" enctype="multipart/form-data">
<ul>
{% for class in classes %}
{% if currentClass.name == currentPage %}
  <li class='active'>{{class.name}}</li>
{% else %}
  <li>{{class.name}}</li>
  {% endif %}
{% endfor %}


<a href=''>{{currentPage}}</a>
</ul>  
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" value="{{ currentClass.name }}" />
  </div>
  <div>
    <label for="teachers">Teachers</label>
    <input type="text" name="teachers"/>
  </div>
  <div>
    <label for="dateStart">Start Date</label>
    <input type="date" name="dateStart" value="{{ currentClass.name }}" />
    <label for="dateEnd">End Date</label>
    <input type="date" name="dateEnd" value="{{ currentClass.name }}" />
  </div>
  <div>
    <label for="classRating">What did u think of {{ currentClass.name }}</label>
    <input type="range" name="classRating" value="{{currentClass.name}}" />
  </div>
  <div>
    <label for="difficultyRating">What did u think of {{currentClass.name}}</label>
    <input type="range" name="difficultyRating" value="{{ currentClass.name }}" />
  </div>
  <div>
    <label for="explanationRating">How clear was the  {{currentClass.name}}</label>
    <input type="range" name="explanationRating" value="{{ currentClass.name }}" />
  </div>
    <div>
    <label for="personalUnderstanding">How clear was the  {{currentClass.name}}</label>
    <input type="range" name="personalUnderstanding" value="{{ currentClass.name }}" />
  </div>
  <button type="submit">
Submit
</button>
</form>
<a href="/course{{prevCourse}}">back</a>
<a disabled href="/course{{nextCourse}}">next</a>
<div>div</div>
<code>{{currentClass}}</code>



<code>{{user.name}}</code>


{% endblock %}
