{% extends  layout %}
{% block  content %}

<h1>Welcome</h1> 

<p>{{user.id}}</p>
<p>{{user.name}}</p>
{# <p>{{{session}}}</p> #}
  

<form action='/survey/set' method="POST" enctype="multipart/form-data">
  <h2>Choose the classes u followed in 2023</h2>
  {% for class in classes %}
  <input type='checkbox' name='classes' id={{class}} value={{class}}>
  <label for='{{class}}'>
    {{class}}
  </label>
  {% endfor %}

  



<button type="submit">Confirm Classes</button>
</form>

  
{% endblock %}
 